/*
    Primary Color: #f5f5f5 (white smoke)
    Secondary Color: #1f1f1f (eerie black)
    Accent Color 1: #7421ab (grape purple)
    Accent Color 2: #511778 (indigo)
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #f5f5f5;
  padding: 10px 0 4px;
  position: relative;
}

.box-shadow {
  /* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: #f5f5f5;
  border-bottom: solid #7421ab 3px;
  box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
}

body {
  background-color: #f5f5f5;
  font-family: 'Cantarell', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.6;
  color: #1f1f1f;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0 3px;
  color: #1f1f1f;
}

footer img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  padding-top: 15px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  background-color: #f5f5f5;
  font-family: 'Rokkitt', serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #1f1f1f;
}

h2 {
  background-color: #f5f5f5;
  font-family: 'Signika Negative', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #1f1f1f;
}

h3 {
  background-color: #f5f5f5;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  color: #1f1f1f;
}

h4 {
  background-color: #f5f5f5;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  color: #1f1f1f;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

a:visited {
  color: #511778;
}

a:hover {
  opacity: 0.8;
}

a:focus {
  color: #7421ab;
}

a:active {
  color: #7421ab;
}

.button {
  display: inline-block;
  background-color: #7421ab;
  color: #f5f5f5;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f5f5f5;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:focus {
  background-color: #511778;
  color: #f5f5f5;
}

.button:active {
  color: #511778;
}

.button:visited {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
}

.button.contact {
  display: inline-block;
  background-color: #7421ab;
  color: #f5f5f5;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1f1f1f;
  transition: 0.2s opacity;
}

.button.contact:hover {
  opacity: 0.8;
}

.button.contact:focus {
  background-color: #511778;
  color: #f5f5f5;
}

.button.contact:active {
  background-color: #511778;
}

/* Layout styling */

.center {
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25 top and bottom, 0 left and right */
  padding-top: 20px;
}

#work .row {
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #f5f5f5;
}

#work .animate-row {
  text-align: left;
  margin: 25px 0;
}

.page-myworktitle {
  h2 {
    text-align: center;
  }
}

#page-mywork .row {
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #f5f5f5;
}

#page-mywork .mywork-animaterow {
  text-align: left;
  margin: 25px 0;
}

#mywork-hero {
  background-color: #1f1f1f;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f5f5f5;
  padding-bottom: 30px;
  padding-top: 20px;

  h1,
  h2,
  h3,
  h4 {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
}

.logo {
  max-width: 175px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1f1f1f;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7421ab;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7421ab;
}

nav > ul > li > a:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7421ab;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #511778;
}

/* Nav and hamburger menu */

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  padding-right: 35px;
  padding-top: 10px;
}

.navtoggle.responsive li {
  display: block;
}

/* responsive */

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #1f1f1f;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f5f5f5;
  padding-bottom: 30px;

  h1,
  h2,
  h3,
  h4 {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
}

#hero img {
  max-width: 300px;
}

#work img {
  max-width: 1500px;
}

.copyright {
  text-align: center;
}

#about {
  background-color: #1f1f1f;
  text-align: center;
  color: #f5f5f5;
  padding-top: 20px;

  h1,
  h2,
  h3,
  h4 {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
}

#about img {
  padding: 10px 40px 5px;
  margin: 0 5px;
  max-width: 500px;
}

.intro {
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.resume {
  text-align: left;
  padding-left: 45px;
  margin-left: 10px;
}

.home-mywork {
  text-align: left;
  padding-top: 10px;
}

.hi-ssj {
  padding-top: 20px;
}

.hi-intro {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 25px;
}

.skills-tools {
  text-align: left;
  margin: 0 50px;
}

.hh-intro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

#haunted-haven {
  background-color: #1f1f1f;
  text-align: center;
  color: #f5f5f5;

  h1,
  h2,
  h3,
  h4 {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
}

#haunted-haven img {
  max-width: 1500px;
}

.hh-toctitle {
  text-align: center;
}

.hh-toc {
  text-align: left;
  margin: 0 50px;
  color: #f5f5f5;

  a:visited {
    color: #f5f5f5;
  }

  a:active {
    color: #7421ab;
  }
}

.yy-intro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

#yesteryear {
  background-color: #1f1f1f;
  text-align: center;
  color: #f5f5f5;

  h1,
  h2,
  h3,
  h4 {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
}

#yesteryear img {
  max-width: 1500px;
}

.yy-toctitle {
  text-align: center;
}

.yy-toc {
  text-align: left;
  margin: 0 50px;
  color: #f5f5f5;

  a:visited {
    color: #f5f5f5;
  }

  a:active {
    color: #7421ab;
  }
}

.androidproto {
  padding-bottom: 40px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }

  to { transform: translate(200px, 50px); }
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: center;
  }

  .logo {
    max-width: 250px;
  }

  nav {
    width: auto;
    margin-top: 5px;
    text-align: center;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    margin: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h1 {
    clear: both;
    text-align: center;
  }

  #about h2 {
    margin-bottom: 0;
    margin-top: 30px;
  }

  #about h3 {
    margin-top: 0;
  }

  .skills {
    text-align: center;
    margin-top: 20px;
  }

  .tools {
    text-align: center;
    margin-top: 0;
  }

  .skills-tools {
    margin: 0 20px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    margin-top: 15px;
    text-align: right;
    float: right;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    margin-top: 15px;
    text-align: right;
    float: right;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
