/*
    Primary Color: #000 (black)
    Secondary Color: #fff (white)
    Accent Color 1: #61cdff (blue)
    Accent Color 2: #7404a8 (purple)
    Accent Color 3: #18d189 (green)
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.box-shadow {
  /* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: #000;
  border-bottom: solid #ededed 1px;
  box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(209, 209, 209, 0.5);
}

body {
  background-color: #000;
  font-family: 'Cantarell', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

footer {
  background-color: #000;
  text-align: center;
  margin: 0 3px;
}

footer img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  padding-top: 15px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.6;
}

h1 {
  background-color: #000;
  font-family: 'Rokkitt', serif;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

h2 {
  background-color: #000;
  font-family: 'Signika Negative', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

h3 {
  background-color: #000;
  font-family: 'Signika Negative', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

h4 {
  background-color: #000;
  font-family: 'Signika Negative', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

img {
  width: 100%;
}

a {
  color: #61cdff;
  text-decoration: none;
}

a:visited {
  color: #7404a8;
}

a:hover {
  color: #61cdff;
  text-decoration: underline;
}

a:focus {
  color: #61cdff;
  text-decoration: underline;
}

a:active {
  color: #18d189;
}

.button {
  display: inline-block;
  background-color: #61cdff;
  color: #000;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7404a8;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #7404a8;
  color: #fff;
  text-decoration: underline;
}

.button:focus {
  background-color: #7404a8;
  color: #fff;
  text-decoration: underline;
}

.button:active {
  background-color: #18d189;
  color: #7404a8;
}

.button.contact {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #61cdff;
}

.button.contact:hover {
  background-color: #7404a8;
  color: #fff;
}

.button.contact:focus {
  background-color: #7404a8;
  color: #fff;
}

.button.contact:active {
  background-color: #18d189;
  color: #7404a8;
}

/* Layout styling */

.center {
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25 top and bottom, 0 left and right */
}

#work .row {
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7404a8;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #61cdff;
}

nav > ul > li > a:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #61cdff;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #18d189;
}

#hero {
  background-color: #000;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work img {
  max-width: 1500px;
}

.copyright {
  text-align: center;
}

#about {
  text-align: center;
  padding-top: 20px;
}

#about img {
  padding: 10px 40px 5px;
  margin: 0 5px;
  max-width: 650px;
}

.intro {
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.resume {
  text-align: left;
  padding-left: 45px;
  margin-left: 10px;
}

.home-mywork {
  text-align: center;
  padding-top: 10px;
}

.hi-ssj {
  padding-top: 20px;
}

.skills-tools {
  text-align: left;
  margin: 0 50px;
}

.hh-intro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

#haunted-haven {
  text-align: center;
}

#haunted-haven img {
  max-width: 1500px;
}

.hh-toctitle {
  text-align: center;
}

.hh-toc {
  text-align: left;
  margin: 0 50px;
}
